{template '_header'}

<div class="page-header" xmlns:border-top="http://www.w3.org/1999/xhtml">
    当前位置：<span class="text-primary">
    消息详情
</span>
</div>

<div class="page-content">



 
    <div class="page-table-header">
        <div class="btn-group">
           
                        <label class="col-lg control-label">内容</label>
                        <div class="col-sm-9 col-xs-12">
                           {$data['kf_text']}
                        </div>
                 
        </div>
      <br/>
      <br/>
      <br/><br/><br/><br/>
       <div class="btn-group">
           
                        <label class="col-lg control-label">图片</label>
                        <div class="col-sm-9 col-xs-12">
                           {$str}
                        </div>
                 
        </div>
    </div>
   

 


</div>

{template '_footer'}
<!--4000097827-->